<?xml version="1.0"?>
<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Multiverse User Administration</display-name>
    <description>
	Manage multiverse user database.
    </description>

    <context-param>
        <param-name>connect-string</param-name>
        <param-value>jdbc:mysql://cedeno-dxp.corp.multiverse.net/multiverse</param-value>
    </context-param>

    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>

    <context-param>
        <param-name>password</param-name>
        <param-value>mv123</param-value>
    </context-param>

</web-app>
